{% load static %}
<!DOCTYPE html>
<html>
    
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>{% block title %}青海大学程序设计课程{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static "img/core-img/favicon.ico" %}">

    <!-- Core Stylesheet -->
    <link href="{% static "style.css" %}" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="{% static "css/responsive.css" %}" rel="stylesheet">

</head>
    
<body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="mosh-preloader"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area clearfix">
        <div class="container-fluid h-100">
        <div class="row h-100">
        <!-- Menu Area Start -->
        <div class="col-12 h-100">
        <div class="menu_area h-100">
        <nav class="navbar h-100 navbar-expand-lg align-items-center">
            <!-- Logo -->
            <a class="navbar-brand" href="index.html"><img src="{% static "img/core-img/logo.png" %}" alt="logo"></a>

            <!-- Menu Area -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mosh-navbar" aria-controls="mosh-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse justify-content-end" id="mosh-navbar">
                <ul class="navbar-nav animated" id="nav">
                    <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">主页</a></li>
                    {% if not request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">登陆</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'examlist' %}">考试/作业列表</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'changepassword' %}">修改密码</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">登出</a></li>
                    {% endif %}
                    {% if request.user.myuser.usertype == 2 or request.user.is_staff == 1%}
                    <li class="nav-item"><a class="nav-link" href="{% url 'showall' %}">成绩汇总</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">管理页面</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="{% url 'exportdata' %}">数据导出</a></li> -->
                    <li class="nav-item"><a class="nav-link" href="http://49.209.80.158:13888">上传界面</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        </div>
        </div>
        </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    {% if messages %}
    <div class="message_area sticky">
        {% for message in messages %}
        <div class="ml-30"><p>{{ message | safe }}</p></div>
        {% endfor %}
    </div>
    {% endif %}    

    {% block container %}
        <p>模板未定义</p>
    {% endblock %}

{% block js %}
{% endblock %}
    
    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area clearfix">
        <!-- Fotter Bottom Area -->
        <div class="footer-bottom-area">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="footer-bottom-content h-100 d-md-flex justify-content-between align-items-center">
                            <div class="copyright-text">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
青海大学计算机技术与应用系 Copyright &copy;<script>document.write(new Date().getFullYear());</script>  | This template is made by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                            </div>
                            <div class="footer-social-info">
                                <p> designed by <a href="http://sealzhang.tk"> zhangchuheng </a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery-2.2.4 js -->
    <script src="{% static "js/jquery-2.2.4.min.js" %}"></script>
    <!-- Popper js -->
    <script src="{% static "js/popper.min.js" %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- All Plugins js -->
    <script src="{% static "js/plugins.js" %}"></script>
    <!-- Active js -->
    <script src="{% static "js/active.js" %}"></script>
    
</body>
</html>