{% extends 'base.html' %}
{% load static %}
{% block title %}登陆{% endblock %}
{% block container %}

<!-- ***** Breadcumb Area Start ***** -->
<div class="mosh-breadcumb-area" style="background-image: url({% static "img/core-img/breadcumb.png" %});">
<div class="container h-100">
<div class="row h-100 align-items-center">
<div class="col-12">
    <div class="bradcumbContent">
        <h2>登陆</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">初始用户名与密码请咨询任课老师</li>
            </ol>
        </nav>
    </div>
</div>
</div>
</div>
</div>
<!-- ***** Breadcumb Area End ***** -->

<!-- ***** Contact Area Start ***** -->
<section class="contact-area section_padding_100">
<div class="container">
<div class="row">
<!-- Contact Form Area -->
<div class="col-12 col-md-8">
<div class="contact-form-area">
    <form method="post">
        {% csrf_token %}
        {{ login_form.as_p }}
        <button class="btn mosh-btn mt-50" type="submit">登陆</button>
    </form>
</div>
</div>
</div>
</div>
</section>
<!-- ***** Contact Area End ***** -->
{% endblock %}